<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AgRecords.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AgRecords.Properties.Settings>
            <setting name="ServerIPAddress" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="username" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="password" serializeAs="String">
                <value />
            </setting>
            <setting name="database" serializeAs="String">
                <value>agrecords_db</value>
            </setting>
            <setting name="adminPassword" serializeAs="String">
                <value>admin</value>
            </setting>
            <setting name="devPassword" serializeAs="String">
                <value>agrecords</value>
            </setting>
        </AgRecords.Properties.Settings>
    </userSettings>
</configuration>